.parent {
    position: relative;
    top: 0;
    left: 0;
  }

.map {
    background-image: url("https://github.com/Zander618/Solve-the-camelCase/blob/main/Kanto%20Map%202.jpeg?raw=true");
    height:650px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:900px;
    z-index: 1;
}

#boulder {
    position: absolute;
    top: 93px;
    left: 176px;
    width: 60px;
    height: 60px;
    z-index: 3;
}

#yellow-1 {
    display: none;
    position: absolute;
    top: 91px;
    left: 174px;
    width: 65px;
    height: 65px;
    z-index: 2;
}