.document {
    background-color: blue ;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }

.map {
    height:650px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:900px;
    z-index: 1;
}

#boulder {
    position: absolute;
    top: 93px;
    left: 176px;
    width: 60px;
    height: 60px;
    z-index: 3;
}

#cascade {
    position: absolute;
    top: 93px;
    left: 563px;
    width: 60px;
    height: 60px;
    z-index: 3;
}

#thunder {
    position: absolute;
    top: 322px;
    left: 563px;
    width: 60px;
    height: 60px;
    z-index: 3;
}

#rainbow {
    position: absolute;
    top: 213px;
    left: 407px;
    width: 60px;
    height: 60px;
    z-index: 3;
}

#soul {
    position: absolute;
    top: 464px;
    left: 478px;
    width: 60px;
    height: 60px;
    z-index: 3;
}

#marsh {
    position: absolute;
    top: 215px;
    left: 563px;
    width: 60px;
    height: 60px;
    z-index: 3;
}

#volcano {
    position: absolute;
    top: 567px;
    left: 176px;
    width: 60px;
    height: 60px;
    z-index: 3;
}

#earth {
    position: absolute;
    top: 294px;
    left: 176px;
    width: 60px;
    height: 60px;
    z-index: 3;
}

#yellow-1 {
    display: none;
    position: absolute;
    top: 91px;
    left: 174px;
    width: 65px;
    height: 65px;
    z-index: 2;
}

#yellow-2 {
    display: none;
    position: absolute;
    top: 91px;
    left: 562px;
    width: 65px;
    height: 65px;
    z-index: 2;
}

#yellow-3 {
    display: none;
    position: absolute;
    top: 319px;
    left: 561px;
    width: 65px;
    height: 65px;
    z-index: 2;
}

#yellow-4 {
    display: none;
    position: absolute;
    top: 210px;
    left: 404px;
    width: 65px;
    height: 65px;
    z-index: 2;
}

#yellow-5 {
    display: none;
    position: absolute;
    top: 460px;
    left: 476px;
    width: 65px;
    height: 65px;
    z-index: 2;
}

#yellow-6 {
    display: none;
    position: absolute;
    top: 214px;
    left: 561px;
    width: 65px;
    height: 65px;
    z-index: 2;
}

#yellow-7 {
    display: none;
    position: absolute;
    top: 564px;
    left: 173px;
    width: 65px;
    height: 65px;
    z-index: 2;
}

#yellow-8 {
    display: none;
    position: absolute;
    top: 291px;
    left: 172px;
    width: 65px;
    height: 65px;
    z-index: 2;
}

#clue {
    float: right;
    top: 100px;
    background-color: aqua;
}

#psyduck{
    position: absolute;
    top: 264px;
    left: 470px;
    width: 92px;
    height: 20px;
    z-index: 2; 
}

#elite4{
    display: none;
    position: absolute;
    top: 51px;
    left: 79px;
    width: 60px;
    height: 60px;
    z-index: 3;
}

h2{
    visibility: hidden;
}